
body{
	color:black;
}

.navbar-default {
 /* Couleur de fond de la barre de navigation */
 background-color:black;
 border-color:blue;
}

.navbar-default .navbar-brand {
 color:blue;
}

.nav.navbar-nav.navbar-right li a {
    color:blue;
}

#wrapper2{
background-color:#6090B3;
height:720px;
background-size:cover;
text-align: center;
padding-top: 100px;
}


#wrapper2 p {
text-align: justify;
margin:35px 0 35px;
}

#wrapper3 {
margin: 150px 0 150px;

}

#wrapper{
background-image: url(../images/berlin.jpg);
height:720px;
background-size:cover;
text-align: center;
padding-top: 100px;
}


#wrapper p{
color:black;
}

#wrapper h1{
color:#05AAF3;
}	


#footer{
	background-color:black;
	font-size: 22px;
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
    #background-color: #000;
    height: 55px;/* or however high you would like */
}


#.spacer{
	height: 20em
}



table{
    background-color:#00FDFF;
}